<body>
  <div class="hero">
    <div class="from-box">
      <div class="button-box2">
        <div id="btn"></div>
        <button type="button" class="toggle-btn2" (click)="login()">
          <span>Login</span>
        </button>
        <button type="button" class="toggle-btn2" (click)="register()">
          <span>Registro</span>
        </button>
      </div>


      <div class="social-icons">
        <img src="assets/image/shared/gsvg.svg" (click)="onClick()">
     </div>
     <form id="login" class="input-group2" [formGroup]="formLogin">
      <input type="email" class="input-field2" placeholder="Correo" formControlName="email" required>
      <input type="password" class="input-field2" placeholder="Contraseña" [type]="hide ? 'password' : 'text'"  formControlName="password" required>
      <button type="submit" class="submit-btn2" (click)="loginUser()">Login</button>
     </form>

     <form id="register" class="input-group2" [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <input type="email" class="input-field2" placeholder="Correo"  formControlName="email" required>
      <input type="password" class="input-field2" placeholder="Contraseña"  formControlName="password" [type]="hide ? 'password' : 'text'"  required>
      <input type="password" class="input-field2" placeholder="Repetir contraseña" [type]="hide ? 'password' : 'text'"  required>
      <label for="terms-and-conditions">
        <input id="terms-and-conditions" type="checkbox" required name="terms-and-conditions"/> Acepto los <a href="">terminos y condiciones</a>
      </label>
    <button type="submit" class="submit-btn2">Registro</button>
     </form>
    </div>
  </div>
</body>
