<body class="login-overlay">
    <div class="signup-container">
        <form action="">
            <label for="f-name">First name:</label>
            <input type="text" id="f-name" name="f-name">

            <label for="l-name">Last name:</label>
            <input type="text" id="l-name" name="l-name">

            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <div class="phone-input">
                <input type="tel" id="phone" name="phone">
                <button class="signup-btn">Sign Up</button>
            </div>

            <div class="social-media-login">
                <p>Sign Up With</p>
                <div class="social-media-icons">
                    <!-- Aquí irían las imágenes de los iconos de las redes sociales -->
                </div>
            </div>
        </form>
    </div>
</body>
