.hero {
  height: 100%;
  width: 100%;
  background-image: url(../../icons/wallpaper.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.from-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}
.button-box2 {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #2457ff1f;
  border-radius: 30px;
}

.toggle-btn2 {
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  color: #000;  // Color del texto predeterminado
  transition: color 0.5s;  // Agregamos una transición para suavizar el cambio de color
  span {
    display: flex;  // Hace que el contenido sea un contenedor flexible
    align-items: center;  // Centra verticalmente el contenido
    margin-left: 10px;
    position: relative;
    z-index: 1;  // Asegura que el texto esté en la parte superior
  }
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #75AEC9, #00456E);
  border-radius: 30px;
  transition: .5s;
  color: #fff;
}




.input-field2{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.input-group2 {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.submit-btn2 {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 25px auto;
  background: linear-gradient(to right, #75AEC9, #00456E);
  border: 0;
  outline: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white; /* Añadido para establecer el color del texto a blanco */
}


.social-icons{
  margin: 30px auto;
  text-align: center;
}

.social-icons img{
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}


#login{
  left: 50px;
}
#register{
  left: 450px;
}
