
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}

table .btn{
  margin: 2px;
}

.border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.labelfiltro {
  margin: 2px;
  margin-left: 500px;
  margin-right: 30px;
  flex-grow: 1;  // Esto permite que el elemento crezca para llenar el espacio restante
}
