// mat-grid-tile {
//   background: lightblue;
// }

.ancho{
  width: 80%;
}

.mat-card-container {
  height: 100%;
}

.mat-stepper-container {
  height: 100%;
}

mat-grid-list {
  height: auto; /* O ajusta a la altura que desees */
}

.mat-card {
  max-height: 80vh;
}

form {
  max-height: 100%; /* Ajusta según tus necesidades */
}
