.rigth {
  padding: 15px;
  position: absolute;
  width: 150px;
  height: 70px;
  right: 5px;    // 5px relative to the most-right of parent
}

.left {
  padding: 15px;
  height: 70px;
  width: 300px;
  position: static;   // Declarado como estatico
}


.client-table {
  width: 100%;  // Asegúrate de que la tabla ocupe el 100% del contenedor
}

.mat-column-direccion,
.mat-column-cliente {
  min-width: 240px;  // Puedes cambiar el valor según sea necesario
  max-width: 500px;  // Puedes cambiar el valor según sea necesario
  // text-align: center;
  word-wrap: break-word;  // Rompe las palabras largas si es necesario
}


.center-text {
  text-align: center;
}



.mat-column-fecha_ci,
.mat-column-fecha_insta {
  min-width: 150px;
}
