.rigth {
  padding: 15px;
  position: absolute;
  width: 150px;
  height: 70px;
  right: 5px;    // 5px relative to the most-right of parent
}

.left {
  padding: 15px;
  height: 70px;
  width: 300px;
  position: static;   // Declarado como estatico
}


.client-table {
  width: 100%;  // Asegúrate de que la tabla ocupe el 100% del contenedor
}

.mat-column-direccion,
.mat-column-cliente {
  min-width: 240px;  // Puedes cambiar el valor según sea necesario
  max-width: 500px;  // Puedes cambiar el valor según sea necesario
  // text-align: center;
  word-wrap: break-word;  // Rompe las palabras largas si es necesario
}


.center-text {
  text-align: center;
}


.mat-column-id{
  min-width: 30px;
  max-width: 30px;
}

.mat-column-fecha_ci,
.mat-column-fecha_insta,
.mat-column-empresa {
  min-width: 150px;
  text-align: center;
}



.container {
  padding: 20px;
  margin-top: 35px;
  width: calc(100% - 200px); /* Resta el ancho del navbar lateral */
  position: relative;
  top: 0;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}


.main-container {
  width: 100%;
  overflow-y: hidden;
}
