<h4>Seleccione los filtros:</h4>


<mat-expansion-panel hideToggle class="card" style="margin-bottom: 30px;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtros
    </mat-panel-title>
    <mat-panel-description>
      Selecciones los filtros para la tabla
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>
  <label for="departamentoInput" style="margin-top: 30px; margin-bottom: 30px;" >Filtrar por departamento:</label>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <mat-form-field class="custom-select-container">
      <mat-label>Seleccionar departamento</mat-label>
      <mat-select class="select" [(ngModel)]="departamentoFiltrado" name="departamento" (selectionChange)="aplicarFiltro($event.value)" [disabled]="disableSelect">
        <mat-option *ngFor="let depto of departamentos" [value]="depto">
          {{ depto }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="margin-left: 15px;">
      <button mat-stroked-button (click)="limpiarFiltroDepartamentos()" [disabled]="disableSelect">Todos</button>
    </div>
  </div>
  <p>
    <mat-checkbox [(ngModel)]="disableSelect" (change)="toggleSelect()">Mostrar sin filtro</mat-checkbox>
  </p>
</mat-expansion-panel>


<mat-divider></mat-divider>


<div class="mat-elevation-z8" >
  <div>
    <div class="rigth" >
      <button class="fa fa-plus" mat-mini-fab matTooltip="Agregar usuario" color="primary" aria-label="Example mini fab with a heart icon" routerLink="/adclient">
        <mat-icon>person_add</mat-icon>
      </button>
  </div>
    <div class="left" >
      <mdb-form-control>
        <input mdbInput class="labelfiltro" type="text" id="form1" class="form-control" [(ngModel)]="filtro" (input)="aplicarFiltroSearch()" />
        <label mdbLabel class="form-label" for="form1">Buscar</label>
      </mdb-form-control>
    </div>
  </div>

<div style="overflow-x: auto; overflow-y: hidden;">
  <table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header="id"> Id </th>
      <td mat-cell *matCellDef="let cliente"> </td>
    </ng-container>

    <ng-container matColumnDef="mes_venta">
      <th mat-header-cell *matHeaderCellDef> Mes de venta </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.mes_venta}} </td>
    </ng-container>

    <ng-container matColumnDef="fuv">
      <th mat-header-cell *matHeaderCellDef> Fecha recepción FUV </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.fuv}} </td>
    </ng-container>

    <ng-container matColumnDef="mes_venta2">
      <th mat-header-cell *matHeaderCellDef> Mes de venta </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.mes_venta2}} </td>
    </ng-container>

    <ng-container matColumnDef="ejecutivo">
      <th mat-header-cell *matHeaderCellDef> Ejecutivo </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.ejecutivo}} </td>
    </ng-container>

    <ng-container matColumnDef="fac_bol">
      <th mat-header-cell *matHeaderCellDef> FAC/BOL </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.fac_bol}} </td>
    </ng-container>

    <ng-container matColumnDef="ruc_dni">
      <th mat-header-cell *matHeaderCellDef> RUC/DNI </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.empresa}} </td>
    </ng-container>

    <ng-container matColumnDef="r_social">
      <th mat-header-cell *matHeaderCellDef> Razon social </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.r_social}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Clente </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Departamento </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.department }} </td>
    </ng-container>

    <ng-container matColumnDef="equipo">
      <th mat-header-cell *matHeaderCellDef> Equipo </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.equipo}} </td>
    </ng-container>

    <ng-container matColumnDef="dongle">
      <th mat-header-cell *matHeaderCellDef> Dongle </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.dongle}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo_venta">
      <th mat-header-cell *matHeaderCellDef> Tipo de venta </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.tipo_venta}} </td>
    </ng-container>

    <ng-container matColumnDef="precio_venta">
      <th mat-header-cell *matHeaderCellDef> Precio de venta </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.precio_venta}} </td>
    </ng-container>

    <ng-container matColumnDef="separacion">
      <th mat-header-cell *matHeaderCellDef> Separación </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.separacion}} </td>
    </ng-container>

    <ng-container matColumnDef="cuota_inicial">
      <th mat-header-cell *matHeaderCellDef> Cuota inicial </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.cuota_inicial}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_ci">
      <th mat-header-cell *matHeaderCellDef>Fecha de pago de cuota inicial</th>
      <td mat-cell *matCellDef="let cliente">{{ formatFechaCi(cliente) }}</td>
    </ng-container>

    <ng-container matColumnDef="eq_part_pago">
      <th mat-header-cell *matHeaderCellDef> Equipo parte de pago </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.eq_part_pago}} </td>
    </ng-container>

    <ng-container matColumnDef="monto_finan">
      <th mat-header-cell *matHeaderCellDef> Monto a financiar </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.monto_finan}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_insta">
      <th mat-header-cell *matHeaderCellDef>Fecha de instalación</th>
      <td mat-cell *matCellDef="let cliente">{{ formatFechaInsta(cliente) }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let cliente">
        <a class="pointer" style="color:#36385a; padding-right: 6px;" matTooltip="Detalles de usuario" (click)="mostrarDetalles(cliente.id)">
          <i class="fa fa-search"></i></a>
        <a class="pointer" style="color:#666bb6; padding-right: 6px;" matTooltip="Editar usuario">
          <i class="fa fa-edit"></i></a>
        <a class="pointer" style="color:#e15639" matTooltip="Eliminar usuario" (click)="eliminarCliente(cliente)">
          <i class="fa fa-trash"></i></a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let cliente; columns: displayedColumns;"></tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>

